/*hoja de estilo del ejercicio index2 de canción del pirata*/

@font-face {
    font-family: caligrafia;
    src: url("../fonts/GreatVibes-Regular.ttf");
}
body {background-color: black;
font-family: caligrafia;}

#container {background-image: url("../images/fondo2.jpg");
    background-size: cover; /*estira horizontal y vertical para que quepa 1 sola vez*/
    background-position: 10%;
    width: 90%;
    margin: auto;
    padding: 30px 0;
    font-size: 2em;}

    #poema {background-color: #a0b394c4 ;
            width: 350px ;
        padding: 20px;
        margin-left: 20px;} /*tengo en cuenta que la suma de píxeles debe respetar el ancho de un móvil*/